.footer {
  width: 100%;
  padding: 12px 0;

  background-color: #0f172a; /* same as header */
  color: #e5e7eb;

  text-align: center;
  font-size: 14px;

  position: fixed;
  bottom: 0;
  left: 0;

  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
}

/* Footer text */
.footer p {
  margin: 0;
  font-weight: 400;
}
